<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
      <i class="fa-brands fa-facebook"></i>
    </div>
    <div>&copy; Wnader Lust private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/trms">Terms</a>
    </div>
  </div>
</footer>
