<% layout('layouts/boilerplate') -%>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <br /><br />
      <h1>Create a new Listing</h1>
      <form
        action="/listings"
        method="post"
        class="needs-validation"
        novalidate
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-lable">Title</label>
          <input
            type="text"
            name="title"
            placeholder="Enter Name"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please Enter a Title.</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-lable">Image Upload</label>
          <input type="file" name="image" class="form-control" />
          <div class="invalid-feedback">Please Enter a Image URL.</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-lable">Description</label>
          <textarea
            name="description"
            placeholder="Enter Description"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Please Enter a Description</div>
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-lable">Price</label>
            <input
              type="text"
              name="price"
              placeholder="Enter Price"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please Enter a Price</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-lable">Country</label>
            <input
              type="text"
              name="country"
              placeholder="Enter Country"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please Enter a Country.</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-lable">Location</label>
          <input
            type="text"
            name="location"
            placeholder="Enter location"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please Enter a Location.</div>
        </div>

        <button type="submit" class="btn btn-dark add-btn">Add</button>
        <br /><br />
      </form>
    </div>
  </div>
</body>
